@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #ff0c61;
}

.container {
  width: min(90vw, 450px);
  border-radius: 5px;
  padding: 1rem;
  background: white;
}

#output {
  font-size: 20px;
  overflow: scroll;
}
.btn-copy {
  padding: 12px 1rem;
  font-size: 1rem;
  border: none;
  background: #0073ff;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

button.generate-btn {
  width: 100%;
  padding: 12px 0;
  background: #0084ff;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}
.top {
  display: flex;
  background: #efefef;
  align-items: center;
  padding: 5px 10px;
  border-radius: 3px;
}

.top #output {
  flex-basis: 100%;
}
